
<div id="cont">
  <div id="menu-fixed">
    <a href="#cont">
      <i class="material-icons back">&#xE314;</i>
    </a>
    <a href="#menu-fixed">
      <div class="logo">
        <span></span>
        <p>TITLE</p>
      </div>
      <p class="pmenu">MENU</p>
    </a>
    <hr>
    <ul class="menu">
      <li><a (click)="navigate('one')"><i class="material-icons">&#xE88A;</i><p>One</p></a></li>
      <li><a (click)="navigate('two')"><i class="material-icons">&#xE87A;</i><p>Two</p></a></li>
    </ul>
    <i class="material-icons info">&#xE88E;</i>
  </div>

</div>

<div id="page">
  <div id="outlet"></div>
</div>
